@model IEnumerable<TechReviewMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}

<div class="well well-sm">
    <h2 class="Review-header">Gadget Reviews</h2>
</div>


<p>
    @Html.ActionLink("Add Review", "Create")
</p>
@foreach (var item in Model)
{
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="item-device">@Html.DisplayFor(modelItem => item.Device)</h3>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p><span class="label label-danger">Price</span> &nbsp;<strong>@Html.DisplayFor(modelItem => item.Price)</strong></p>
                <p><span class="label label-danger">Manufacturer</span> &nbsp;<strong>@Html.DisplayFor(modelItem => item.Category.Manufacturer)</strong></p>
                <p>@Html.DisplayNameFor(model => model.ManufactureDate)</p>
                <p>@Html.DisplayFor(modelItem => item.ManufactureDate)</p>
                <p>@Html.ActionLink("Details", "Details", new { id = item.ID })</p>
            </div>
        </div>
    </div>  
</div>
}
@*<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactureDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
